*{
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
    align-items: center;
}
.boxx {
  display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    .boxx {
    justify-content: left;
}
}
.flex {
  display: flex;
}

.color {
  padding-bottom: 240px;
  background-color: #F2F2F2; 
}

.button__plus {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

@media screen and (min-width: 767px) {
    .container {
    max-width: 767px;
    margin: 0 auto;
}
}
@media screen and (min-width: 1440px) {
    .container {
    max-width: 1170px;
    margin: 0 auto;
}
}

@media screen and (max-width: 767px){
.container__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
}

@media screen and (min-width: 767px) {
  .container__center {
    display: flex;
    justify-content: space-between;
    margin-top: 40px
  }
}

.header {
  position: relative;
  z-index: 100;
  background: #FFFFFF;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__link__logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px; 
    color: #3E3F58;
    font-weight: 700;
  }
  &__personal {
    display: flex;
    align-items: center;
  }
  &__personal__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #3E3F58;
    margin-right: 15px;
  }
  &__personal__photo {
    margin-right: 5px;
    fill: #707174;
  }
  &__personal__svg {
    margin-left: 15px;
  }
  &__list {
    list-style: none;
    margin-top: 25px;
    padding: 0;
  }
  &__item {
  margin-right: 36px;
  position: relative;
  line-height: 1;
    &::after {
    content: "";
    display: block;
    position: absolute;
    background: #E32C75;
    border-radius: 2px;
    height: 4px;
    margin-top: 28px;
    }
  }
  &__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  &:hover {
  color: #E32C75;
}
}
}
.header__item:hover::after,
.header__item:focus::after {
  width: 100%;
}


/*        MAIN        */
.main{
  &__person-box {
  display: flex;
  }
  &__photo {
    margin-right: 24px;
  }
  &__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #3E3F58;
  margin-bottom: 8px;
  margin: 0;
  margin-right: 25px;
  }
  &__maill {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #3E3F58;
  margin-bottom: 16px;
  margin-top: 0;
  }
  &__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #F05D63;
  }
  &__linkk {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #3E4056;
  }
  &__list {
    margin-bottom: 23px;
    display: flex;
    list-style: none;
    padding: 0;
  }
  &__item {
  margin-right: 50px;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #636363;
  }
  &__item-num {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #3E3F58;
  }
  &__text {
  width: 350px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3E3F58;
  }
  &__nav{
  align-items: center;
  margin-top: 40px;
  }
  &__boxs {
  width: 374px;
  height: 280px;
  background-color: #fff;
  padding: 56px 24px;
  margin-bottom: 20px;
  margin-top: 62px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  }
  &__boxss {
  width: 374px;
  height: 280px;
  background-color: #fff;
  padding: 24px 24px;
  margin-bottom: 20px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  }
  &__box-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 46px;
  color: #3E4056;
  }
  &__link-name {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  align-items: center;
  color: #3E4056;
  margin-left: 8px;
  }
  &__edit-bbox{
  display: flex;
  justify-content: space-between;
  }
  &__edit-box {
  align-items: center;
  align-content: center;
  margin-left: 16px;
  }
  &__edit-boxxx {
  align-items: center;
  align-content: center;
  margin-left: 0px;
  }
  &__link-share {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #F05D63;
  text-decoration: none;
  }
  &__box-help {
  font-size: 16px;
  line-height: 19px;
  color: #3E4056;
  }
  &__box-helpl{
  font-size: 16px;
  line-height: 16px;
  color: #3E4056;
  background-color: #ECF1F8;
  margin-left: 8px;
  }
}
@media screen and (min-width: 767px) {
  .main__nav{
    margin-top: 0;

  }
}
@media screen and (min-width: 1440px) {
  .main__boxs-spase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 772px;
  }
}

.btn-close {
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: transparent;
}
/*menu*/
.mob-menu-list {
  list-style: none;
  &__item:not(:last-child) {
  margin-bottom: 36px;
  }
  &__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
    &:hover {
    color: #2196f3;
    }
  }
}
.menu-open {
  background: unset;
  border: none;
  font-size: 26px;
  text-align: right;
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.mob-menu__box {
  position: relative;
}
.style {
  position: absolute;
  width: 176px;
  height: 124px;
  background-color: #fff;
  padding-top: 12px;
}