<div class="header">
<header class="container">
  <img class="button__plus" src="./images/action button.png" alt="">
    
  
    <div class="header__flex">
    <div>
        <a href="#" class="header__link">
            <span class="header__link__logo">Synth</span>
        </a>
    </div>

    <div class="header__personal">
        <span class="header__personal__name">Arthur Wood</span>
         <img class="header__personal__photo" src="./images/photo.png" alt="photo" width="32" height="32">
         <svg class="" width="10" height="10">
            <use href="./images/sprite.svg#icon-down-1"></use>
         </svg>
         <div class="header__personal__svg">
           <svg class="" width="15" height="15">
              <use href="./images/sprite.svg#icon-bell-1"></use>
           </svg>
           <svg class="" width="15" height="15">
              <use href="./images/sprite.svg#icon-gift-1"></use>
           </svg>
           <svg class="" width="15" height="15">
              <use href="./images/sprite.svg#icon-m-1"></use>
           </svg>
         </div>
        </div>
        </div>

        <div >
             <nav class="nav">
            <ul class="header__list box">
              <li class="header__item">
                <a class="header__link" href="#">FEED</a>
              </li>

              <li class="header__item">
                <a class="header__link" href="#">EXPLORE</a>
              </li>

              <li class="header__item">
                <a class="header__link" href="#">DISCUSSIONS</a>
              </li>
            </ul>
          </nav>
          </div>
        
</header>
</div>