<div class="color">
    <div class="container">
        <div class="container__center">
    <div>
        <div class="main__person-box">
        <div class="main__photo">
            <img src="./images/avatar.png" alt="avatar">
        </div>
        <div>
            <p class="main__name">Benjamin<br/> Clementine</p>
            <p class="main__maill">@benclementine</p>
            <div class="main__edit-box">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-pen-1"></use>
                </svg>
                <a  class="main__link" href="#">Edit Profile</a>
            </div>
            
       </div>
       
       <div class="mob-menu__box">
           <button type="button" class="menu-open">
               <img src="./images/icon_3_dots_menu.png" alt="">
              <!-- <svg class="header__icon" width="25" height="25">
                <use href="./images/sprite.svg#icon-dots-1"></use>
              </svg> -->
              <!-- opeeeennnnnnnnnnnnnnnnnnnnnn -->
            </button>
       <div class="mob-menu is-hidden style">
            
        <!-- <button class="btn-close" type="button">
           <svg class="" width="20" height="16">
                  <use href="./images/sprite.svg#icon-dots-1"></use>
            </svg>
       </button> -->
       <ul class="mob-menu-list list">
            <li class="mob-menu-list__item">
                <svg class="header__icon" width="25" height="25">
                <use href="./images/sprite.svg#iconEdit"></use>
              </svg>
              <a href="" class="mob-menu-list__link">Report User</a>
            </li>
            <li class="mob-menu-list__item">
                <svg class="header__icon" width="25" height="25">
                <use href="./images/sprite.svg#icon-delete-1"></use>
              </svg>
              <a href="" class="mob-menu-list__link">Block User</a>
            </li>
            
          </ul></div>
       </div>
       
    </div>
     <div>
           <ul class="main__list">
               <li class="main__item"><span class="main__item-num">45</span><br/>synths</li>
               <li class="main__item"><span class="main__item-num">110</span><br/>followers</li>
               <li class="main__item"><span class="main__item-num">322</span><br/>following </li>
           </ul>

       </div>
       <p class="main__text">Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.</p>
</div>


<div>
    <div>
       <nav class="nav ">
            <ul class="header__list boxx main__nav">
              <li class="header__item">
                <a class="header__link" href="#">Public</a>
              </li>

              <li class="header__item">
                <a class="" href="#">
                    <svg class="" width="40" height="24">
                        <use href="./images/sprite.svg#icon-red-oval-1"></use>
                    </svg>
                </a>
              </li>

              <li class="header__item">
                <a class="header__link" href="#">Private</a>
              </li>
            </ul>
          </nav>
    </div>

    <div class="main__boxs-spase">

        <div class="main__boxs">
            <h2 class="main__box-head">New air routes that promise cheap flights in</h2>
            <div class="main__edit-bbox">
                <div class="main__edit-box">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-Oval-1"></use>
                </svg>
                <a  class="main__link-name" href="#">Gregory Watkins</a>
            </div>
            <a class="main__link-share" href="#">Share</a>
            </div>
        </div>


        <div class="main__boxs">
            <h2 class="main__box-head">New air routes that promise cheap flights in</h2>
            <div class="main__edit-bbox">
                <div class="main__edit-box">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-Oval-1"></use>
                </svg>
                <a  class="main__link-name" href="#">Gregory Watkins</a>
            </div>
            <a class="main__link-share" href="#">Share</a>
            </div>
        </div>
        
        
        <div class="main__boxss">
            <p class="main__box-help">Shared to
                <a class="main__box-helpl" href="#">#discussionaboutanimgttdds…</a>
            </p>
            <h2 class="main__box-head">New air routes that promise cheap flights in</h2>
            <div class="main__edit-bbox">
                <div class="main__edit-box">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-Oval-1"></use>
                </svg>
                <a  class="main__link-name" href="#">Gregory Watkins</a>
            </div>
            <div class="flex">
            <div class="main__edit-box">
                <img src="./images/icon_view.png" alt="">
                <!-- <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-play-1"></use>
                </svg> -->
                <a  class="main__link-name" href="#">88</a>
            </div>
            <div class="main__edit-box">
                <img src="./images/icon_like.png" alt="">
                <!-- <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-like-1"></use>
                </svg> -->
                <a  class="main__link-name" href="#">24</a>
            </div>
            </div>
            
            </div>
        </div>

        <div class="main__boxss">
            <div class="main__edit-boxxx">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-pen-1"></use>
                </svg>
                <a  class="main__linkk" href="#">Shared via weblink</a>
            </div>
           
            <h2 class="main__box-head">New air routes that promise cheap flights in</h2>
            <div class="main__edit-bbox">
                <div class="main__edit-box">
                <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-Oval-1"></use>
                </svg>
                <a  class="main__link-name" href="#">Gregory Watkins</a>
            </div>
            <div class="flex">
            <div class="main__edit-box">
                <img src="./images/icon_view.png" alt="">
                <!-- <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-play-1"></use>
                </svg> -->
                <a  class="main__link-name" href="#">88</a>
            </div>
            <div class="main__edit-box">
                <img src="./images/icon_like.png" alt="">
                <!-- <svg class="" width="15" height="15">
                    <use href="./images/sprite.svg#icon-like-1"></use>
                </svg> -->
                <a  class="main__link-name" href="#">24</a>
            </div>
            </div>
            
            </div>
        </div>

        
    </div>
</div>

</div>
</div>

</div>